@model WebApp_MVC_Assignment4.Models.ViewModels.CreateCityViewModel

<h4>Create City</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="States" class="control-label"></label>
                <input asp-for="States" class="form-control" />
                <span asp-validation-for="States" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeopleID" class="control-label"></label>
                <select asp-for="PeopleID" class="form-control">
                    @foreach(var item in Model.PersonInCity)
                     {
                          <option value="@item.PersonID">@item.FirstName @item.LastName</option>
                     }
                </select>
                <span asp-validation-for="PeopleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="City">Back to List</a>
</div>

